        {% extends 'layout.html' %}

        {% block title %}
    <title>REGISTER</title>
        {% endblock %}



            {% block content %}
        <div class="container jumbotron">
            <form method="post">
              {% csrf_token %}
              {{form.as_p}}
              <input type="submit" value="SIGN UP" class="btn btn-outline-success col-6">
              <input type="reset" value="RESET" class="btn btn-outline-danger col-6 float-right">

            </form>
        </div>
            {% endblock %}

